/* Custom focus color for form fields */
.form-control:focus,
.form-select:focus {
  border-color: #f8b501;
  box-shadow: 0 0 0 0.2rem rgba(248, 181, 1, 0.25);
}

/* Style for the logo image */
.logo-img {
  max-width: 200px; /* Adjust the size as needed */
  height: auto;
}
.spinner-border {
  border: 0.2em solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 0.2em solid #f8b501;
  width: 1.5em;
  height: 1.5em;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
